@*@model TModel*@

@{
    ViewBag.Title = "title";
    Layout = "MainLayout";
}

<style>
    .index-title {
        -moz-user-select: none;
        -ms-user-select: none;
        -webkit-user-select: none;
        user-select: none;

        cursor: default;

        text-transform: uppercase;

        padding: 10%;
    }
</style>

<h1 class="index-title">Welcome to Yaroslavl State University Math Faculty API!</h1>